---
- name: Configure HPC1 and HPC2 Compute Nodes with Node Exporter
  hosts: hpc1:hpc2
  become: yes
  roles:
    - node_exporter

- name: Configure GPU Nodes with Nvidia DCGM Exporter
  hosts: gpu_nodes
  become: yes
  roles:
    - nvidia_dcgm_exporter

- name: Configure SLURM Job Scheduler
  hosts: job_scheduler
  become: yes
  roles:
    - slurm_exporter

- name: Configure WEKA Environment Exporter
  hosts: storage_weka
  become: yes
  roles:
    - wekafs_exporter

- name: Configure Dell PowerEdge iDRAC Monitoring
  hosts: poweredge_servers
  become: yes
  roles:
    - idrac_exporter
